# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.DotSettings.user

# Directories
vendor/VulkanSDK
Hazel/vendor/VulkanSDK
Hazel-Editor/assets/cache
Sandbox/assets/cache
scripts/__pycache__